@import "./assets/scss/partials";
html {
  font-size: 16px;
}
body {
  color: $text-c;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
pre {
  letter-spacing: 2px;
  color: $accent-c;
  margin: 0;
  margin-bottom: 15px;
}
input {
  width: 200px;
  resize: none;
  background: transparent;
  border: none;
  color: $text-c;
  font-family: monospace;
  //   caret-color: red;
  //   caret-shape: block;
  &:focus-visible {
    outline: none;
  }
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(52, 63, 81);
}

.background {
  background-color: $bg-c;
  //   background: url("./assets/wallpaperflare.com_wallpaper.jpg");
  //   background-size: cover;
  //   background-position: center;
  width: 100%;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .prompt-window {
    width: 1080px;
    // min-width: 768px;
    // height: 600px;
    background: $dark-c;
    // backdrop-filter: blur(1px);
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 0 10px $bg-c;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgb(42, 35, 110);
      padding: 6px;
      border-radius: 10px 10px 0 0;
      .header-title {
        .logo {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: 20px;
          }
        }
      }
      .controls {
        button {
          background: transparent;
          border: none;
          img {
            width: 20px;
          }
        }
      }
    }
    .prompt-body {
      height: 520px;
      padding: 0 15px 15px 10px;
      margin: 12px 0;
      margin-right: 5px;
      overflow-y: auto;
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-end;
      #output {
        .output-content {
          padding: 12px 0;
          .item {
            display: flex;
            // flex-wrap: wrap;
            .item-name {
              color: $secondary-c;
              width: 220px;
            }
            a {
              text-decoration: none;
              color: $accent-c;
            }
          }
        }
      }
      #prompt-line {
        display: flex;
        // align-items: baseline;
        gap: 5px;
        #prompt {
          color: $primary-c;
        }
        .path {
          color: $secondary-c;
        }
        input {
          flex-grow: 1;
        }
      }
    }
  }
}
